<h1>Listing poofer_sequences</h1>

<table>
  <tr>
    <th>Poofer</th>
    <th>Sequence</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @poofer_sequences.each do |poofer_sequence| %>
  <tr>
    <td><%= poofer_sequence.poofer_id %></td>
    <td><%= poofer_sequence.sequence_id %></td>
    <td><%= link_to 'Show', poofer_sequence %></td>
    <td><%= link_to 'Edit', edit_poofer_sequence_path(poofer_sequence) %></td>
    <td><%= link_to 'Destroy', poofer_sequence, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Poofer sequence', new_poofer_sequence_path %>
