<h1>Listing poofers</h1>

<table>
  <tr>
    <th>Board</th>
    <th>Relay</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @poofers.each do |poofer| %>
  <tr>
    <td><%= poofer.board %></td>
    <td><%= poofer.relay %></td>
    <td><%= link_to 'Show', poofer %></td>
    <td><%= link_to 'Edit', edit_poofer_path(poofer) %></td>
    <td><%= link_to 'Destroy', poofer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Poofer', new_poofer_path %>
